/*
/* GLOBALS
*/
body {
	color: #a0a0a0;
	background: url("/assets/images/noisy_net_93grey.png") repeat;
	/*background: #151515;*/
}

#content-wrapper {
	margin-top: 20px;	
	padding: 0;
}

.br-none 		{ border-radius: 0; }
.pr-none 		{ padding-right: 0; }
.p-none 		{ padding: 0; }
.img-b 			{ border: 3px solid #080808; }
.text-shadow 	{text-shadow: 2px 1px #080808; }

.text-link {
	color: #ffffff;
}
.text-link:hover {
	color: #ffffff;
	text-decoration: underline;
}
.text-link:active {
	color: #2a9fd6;
}

/**
** Home Page
*/
.feature-content {
	margin-top: 20px;
	height: 420px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.item {
	/*padding: 0 0 0 0;
	width: 330px !important; 
	margin-left: 35px;
	height: 400px;
	overflow: hidden;*/
}
.items ul {
	padding: 0;
	margin-bottom: 30px;
	height: 400px;
}
.items ul li {
	display: block;
}	

/*
** Sign in / Sign up
*/
.form-control { 
	background: #181818;
	border: 1px solid #282828;
  	outline: none;
    -webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
}
.form-control:focus {
	border: 1px solid #2a9fd6;
}
.modal-signup-content {
	min-height: 514px;
	/*border: 4px solid #2a9fd6;*/
}
.modal-signin-content {
	min-height: 441px;
	/*border: 4px solid #2a9fd6;*/
}
.social-signin {
	padding: 20px;
	margin: 0;
}
.social-signin li {
	display: block;
	padding: 10px 0;
}
.signin-form-container, .signup-form-container {
	padding: 20px;
}
.form-error-message {
	font-weight: bold;
}
.form-required {
	color:#2a9fd6;
}
.btn-facebook-signin 			{ background: #4C67A1; }
.btn-twitter-signin				{ background: #00b0eb; } 
.btn-google-signin 				{ background: #DB4A37; }
.btn-twitch-signin 				{ background: #7550BA; }

.btn-facebook-signin:hover 		{ background-color: #3C5C8D; }
.btn-twitter-signin:hover 		{ background-color: #0096C8; }
.btn-google-signin:hover 		{ background-color: #BE2F1F; }
.btn-twitch-signin:hover 		{ background-color: #6441A5; }

/*.btn-facebook-signin,
.btn-twitter-signin,
.btn-google-signin,
.btn-twitch-signin { 
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}*/

/**
* ADS
*/
.ad-leaderboard-top {							/* Ad 970x90 */
	margin-top: 20px;
	width: 970px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #080808;
	background: #222222;
	text-align: center;
	padding-top: 35px;
}
@media all and (max-width: 1200px) {			/* Ad 728x90 */
	.ad-leaderboard-top {
		width: 728px;
		height: 90px;
		padding-top: 35px;
	}
}
@media all and (max-width: 780px) {				/* Ad 468x60 */
	.ad-leaderboard-top {	
		width: 468px;
		height: 60px;
		padding-top: 20px;
	}
}
@media all and (max-width: 480px) {				/* Ad 320x50 */
	.ad-leaderboard-top {
		width: 320px;
		height: 50px;
		padding-top: 15px;
	}
}

.ad-medium-rectangle {
	width: 300px;
	margin: 0 auto;
}

/**
 * HERO-UNIT
 */
.hero-unit {
	 margin-bottom:40px;
	 margin-left: 0;
	 margin-right: 0;
	 max-height: 600px;
}
.hero-unit-items {
	padding: 0;
}
@media all and (max-width: 992px) {
	.hero-unit-items {
		padding: 0 5px;
	}
}
.hero-unit .media-heading {
	border-top: 2px solid #5a5a5a;
	padding-top: 5px; 
}
.hero-unit ul {
	margin-bottom: 18px
}
.hero-unit img {
	max-width: 320px;
}
.ad-skyscraper {
	border: 2px solid #080808;
	background: #222222;
	padding: 0;
	height: 600px;
	width: 160px;
	float:right;
	margin-right: 0;
}
@media all and (max-width: 992px) {     /*display ad at 992px+*/
	.ad-skyscraper {
		display: none;
	}
	.hero-unit {
		min-height: 0px;
	}
	.hero-unit h4 {
		font-size: 22px;
	}
	.hero-unit img {
		max-width: 270px;
	}
}
@media all and (max-width: 768px) {     /*display at 768px+*/
	.hero-unit img {
		display: none;
	}
	.hero-unit h4 {
		font-size: 20px;
	}
}
@media all and (max-width: 420px) {
	.hero-unit h4 {
		font-size: 16px;
	}
}

/**
/* NAVBAR
*/
.navbar {
	margin: 0;
	border-bottom: 2px #444444 solid;
}
.navbar-form {
	width: 250px;
	margin: 12px 0;
}
.navbar-search {
	background: #181818;
	border-color: #282828;
	border-radius: 20px;
	padding: 1px 1px 1px 35px;	
	height: 26px;
}
.nav-search-icon {
	position: absolute;
	font-weight: bold;
	color: #2a9fd6;
	font-size: 14px;
	line-height: 14px;
	left:30px;
	top: 17.5px;
	z-index: 1;
}
.navbar-logo {
	padding: 10px 10px;
}
.nav-hidden-container {
	background: #181818;
	padding: 5px 0;
}
.nav-hidden-left ul {
	padding: 0;
	float: left;
	margin: 0;
}
.nav-hidden-left ul li {
	display: inline-block;
	margin-left: 10px;
}
.nav-hidden-left ul li:first-child {
	margin-left: 0;
}
.nav-hidden-left ul li a {
	color: #a0a0a0;
}
.nav-hidden-left ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}
.nav-hidden-right ul {
	padding: 0;
	float: right;
	margin: 0;
}
.nav-hidden-right ul li {
	display: inline-block;
	margin-right: 10px;
}
.nav-hidden-right ul li:last-child {
	margin-left: 0;
}
.nav-hidden-right ul li a {
	color: #a0a0a0;
}
.nav-hidden-right ul li:hover, .nav-hidden-right ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}

/**
* TOP GAMES LIST
*/
.top-games-list {
	padding: 0;
	margin: 0;
}
.top-games-list li {
	display: block;
	margin-bottom: 15px;
}
.top-games-list li:last-child {
	margin-bottom: 0px;	
}
.top-games-list table {
	background: #222222;
	font-size: 12.5px;
}
.top-games-list-tr {
	margin-bottom: 5px;
}
/*.top-games .media {
	padding-left: 10px;
	padding-right: 0;
	margin: 0 0 20px 0;
}*/
.top-games .media-img {
	width: 350px;
}
.top-games h4 {
	margin-top: 0;
	padding-top: 5px;
	border-top: 2px solid #5a5a5a;
}
.test {
	margin-bottom: 20px;
	margin-top: 0;
	padding-right: 0;
}

/**
* VIDEO
*/
.video-container {
	margin: 0 0 20px 0;
	
	clear: both;
	border-width: 3px;
	background: #222222;
	border-color: #080808;
}
.video-player-meta {
	clear: both;
}
.video-player-meta small {
	margin-bottom: 10px;
}
.video-playlist {
 	padding: 0;
}
.video-playlist-header {
	border-left: 3px solid #5a5a5a;
	border-top: 3px solid #5a5a5a;
	margin-top: 0;
	padding: 10px;
}
.video-playlist-hr {
	margin: 20px 0;
	height: 2px;
	border:none;
	color:#5a5a5a;
	background-color:#5a5a5a;
	box-shadow: 0px 1px 0px #080808;
}
.video-playlist ul {
	clear: both;
	margin: 0;
	padding: 0;
}
.video-playlist ul li {
	display: block;
	margin-bottom: 17px;
}
.video-playlist ul li a {
	color: #fff;
	-webkit-transition: color .1s ease-out;
	-moz-transition: color .1s ease-out;
	-o-transition: color .1s ease-out;
	transition: color .1s ease-out;
}
.video-playlist ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}
.video-playlist ul li:last-child {
	margin: 0;
}
.video-playlist ul li h6 {
	padding-top: 10px;
}
@media all and (max-width: 991px) {
  	.video-player {
  		padding: 0;
  	}
  	.video-playlist-header {
  		border-left: none;
  	}
}


/**
* COMMENTS
*/
#comments {
	padding-left: 0;
}
.comments-header {
		
}
.comment .by {
	padding-bottom: 10px;
}
.c-item {
	border-bottom: 1px solid #5a5a5a;
	margin-bottom: 20px;
}
.c-depth-2  { padding-left: 32px; }
.c-depth-3  { padding-left: 64px; }
.c-depth-4  { padding-left: 96px; }
.c-depth-5  { padding-left: 128px; }


/**
 * SIX-ITEMS
 */
.six-items {
	min-height: 600px;
}
.six-column {
	width: 370px;
}
.six-column-first {
	padding: 0;
}
.six-column-middle {
	padding: 0;
	margin-left: 30px;
} 
.six-column-last {
	padding: 0;
	margin-left: 30px;
}
.six-column li {
	display: block;
}
@media all and (max-width: 1200px) {
	.six-column {
		width: 310px;	
	}
	.six-column h4 {
		font-size: 22px;
	}
	.six-column-middle {
		margin-left: 20px;
	} 
	.six-column-last {
		margin-left: 20px;
	}
}
@media all and (max-width: 992px) {
	.six-column {
		width: 360px;
	}
	.six-column-middle {
		margin-left: 30px;
	}
	.six-column-last {
		margin: 0;
		width: 100%;
	}
	.six-column-last {
		width: 100%;
	}
	.six-column-last li {
		display: inline-block;
		width: 358px;
	}
	.six-column-last li:last-child {
		margin-left: 30px;
	}
}
@media all and (max-width: 768px) {
	.six-column {
		width: 100%;
	}
	.six-column li {
		margin-bottom: 10px;
	}
	.six-column img {
		width: 100%;
		border: none;
	}
	.six-column h4 {
		font-size: 18px;
	}
	.six-column h4, .six-column p {
		padding-left: 10px;
		padding-right: 10px;
	}
	.six-column-middle {
		margin-left: 0px;
	}
	.six-column-last li {
		width: 100%;
	}
	.six-column-last li:last-child {
		margin-left: 0;
	}
}