/*
/* GLOBALS
*/
body {
	color: #a0a0a0;
}
.br-none {
	border-radius: 0;
}
.pr-none {
	padding-right: 0;
}
.image {
	border: 3px solid #060606;
}
.text-shadow {
	text-shadow: 2px 1px #060606;	
}
.content-wrapper {
	margin-top: 20px;
}


/**
** Home Page
*/
.item {
	padding: 0px 10px 30px 10px;
	height: 400px;
	overflow: hidden;
}

/*
** Sign in / Sign up
*/
.modal-signup-content {
	min-height: 514px;
	/*border: 4px solid #2a9fd6;*/
}
.modal-signin-content {
	min-height: 441px;
	/*border: 4px solid #2a9fd6;*/
}
.social-signin {
	padding: 20px;
	margin: 0;
}
.social-signin li {
	display: block;
	padding: 10px 0;
}
.signin-form-container, .signup-form-container {
	padding: 20px;
}
.form-error-message {
	font-weight: bold;
}
.form-required {
	color:#2a9fd6;
}
.btn-facebook-signin 			{ background: #4C67A1; }
.btn-twitter-signin				{ background: #00b0eb; } 
.btn-google-signin 				{ background: #DB4A37; }
.btn-twitch-signin 				{ background: #7550BA; }

.btn-facebook-signin:hover 		{ background-color: #3C5C8D; }
.btn-twitter-signin:hover 		{ background-color: #0096C8; }
.btn-google-signin:hover 		{ background-color: #BE2F1F; }
.btn-twitch-signin:hover 		{ background-color: #6441A5; }

/*.btn-facebook-signin,
.btn-twitter-signin,
.btn-google-signin,
.btn-twitch-signin { 
	-webkit-transition: background-color .3s ease-out;
	-moz-transition: background-color .3s ease-out;
	-o-transition: background-color .3s ease-out;
	transition: background-color .3s ease-out;
}*/

/**
* ADS
*/
.ad-leaderboard-top {
	margin-top: 20px;
	width: 728px;
	margin-left: auto;
	margin-right: auto;
}
.ad-medium-rectangle {
	width: 300px;
	margin: 0 auto;
}

/**
/* NAVBAR
*/
.navbar {
	margin: 0;
	border-bottom: 2px #444444 solid;
}
.navbar-logo {
	padding: 10px 10px;
}
.nav-hidden-container {
	background: #181818;
	padding: 5px 0;
}

.nav-hidden-left ul {
	padding: 0;
	float: left;
	margin: 0;
}
.nav-hidden-left ul li {
	display: inline-block;
	margin-left: 10px;
}
.nav-hidden-left ul li:first-child {
	margin-left: 0;
}
.nav-hidden-left ul li a {
	color: #a0a0a0;
}
.nav-hidden-left ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}
.nav-hidden-right ul {
	padding: 0;
	float: right;
	margin: 0;
}
.nav-hidden-right ul li {
	display: inline-block;
	margin-right: 10px;
}
.nav-hidden-right ul li:last-child {
	margin-left: 0;
}
.nav-hidden-right ul li a {
	color: #a0a0a0;
}
.nav-hidden-right ul li:hover, .nav-hidden-right ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}

/**
* TOP GAMES LIST
*/
.top-games-list {
	padding: 0;
	margin: 0;
}
.top-games-list li {
	display: block;
	margin-bottom: 15px;
}
.top-games-list li:last-child {
	margin-bottom: 0px;	
}
.top-games-list table {
	background: #222222;
	font-size: 12.5px;
}
.top-games-list-tr {
	margin-bottom: 5px;
}

/**
* VIDEO
*/
.video-container {
	margin: 0 0 20px 0;
	
	clear: both;
	border-width: 3px;
	background: #222222;
	border-color: #060606;
}
.video-player-meta {
	clear: both;
}
.video-player-meta small {
	margin-bottom: 10px;
}
.video-playlist {
 	padding: 0;
}
.video-playlist-header {
	border-left: 3px solid #5a5a5a;
	border-top: 3px solid #5a5a5a;
	margin-top: 0;
	padding: 10px;
}
.video-playlist-hr {
	margin: 20px 0;
	height: 2px;
	border:none;
	color:#5a5a5a;
	background-color:#5a5a5a;
	box-shadow: 0px 1px 0px #060606;
}
.video-playlist ul {
	clear: both;
	margin: 0;
	padding: 0;
}
.video-playlist ul li {
	display: block;
	margin-bottom: 17px;
}
.video-playlist ul li a {
	color: #fff;
	-webkit-transition: color .1s ease-out;
	-moz-transition: color .1s ease-out;
	-o-transition: color .1s ease-out;
	transition: color .1s ease-out;
}
.video-playlist ul li a:hover {
	color: #2a9fd6;
	text-decoration: none;
}
.video-playlist ul li:last-child {
	margin: 0;
}
.video-playlist ul li h6 {
	padding-top: 10px;
}

@media all and (max-width: 767px) {
	#playertqLUYHhEYkVv {
		
	}
}
@media all and (max-width: 991px) {
	#playertqLUYHhEYkVv {
		
	}
}
@media all and (max-width: 1199px) {
	#playertqLUYHhEYkVv {
		
	}
}

@media all and (max-width: 991px) {
  	.video-player {
  		padding: 0;
  	}
  	.video-playlist-header {
  		border-left: none;
  	}
}


/**
* COMMENTS
*/
#comments {
	padding-left: 0;
}
.comments-header {
		
}
.c-item {
	border-bottom: 1px solid #5a5a5a;
	margin-bottom: 20px;
}
.c-depth-2  { padding-left: 32px; }
.c-depth-3  { padding-left: 64px; }
.c-depth-4  { padding-left: 96px; }
.c-depth-5  { padding-left: 128px; }
